@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2yaj7b');
  src:  url('fonts/icomoon.eot?2yaj7b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2yaj7b') format('truetype'),
    url('fonts/icomoon.woff?2yaj7b') format('woff'),
    url('fonts/icomoon.svg?2yaj7b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-seta-right:before {
  content: "\e90f";
}
.icon-seta-left:before {
  content: "\e910";
}
.icon-mensagem:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e90d";
}
.icon-telefone:before {
  content: "\e90e";
}
.icon-trophy:before {
  content: "\e908";
}
.icon-star:before {
  content: "\e909";
}
.icon-flag:before {
  content: "\e900";
}
.icon-card:before {
  content: "\e901";
}
.icon-pin:before {
  content: "\e902";
}
.icon-play:before {
  content: "\e903";
}
.icon-graph:before {
  content: "\e904";
}
.icon-edit:before {
  content: "\e905";
}
.icon-wave:before {
  content: "\e906";
}
.icon-clock:before {
  content: "\e907";
}
