body {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .header {
        background-image: url("img/fundo-header.jpg");
        max-width: 1920px;
        height: 700px;
        object-fit: contain;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
}
@media (max-width: 768px) {
    .header {
        background-color: #201d55;
        margin: 0 auto;
        padding: 10px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 20px;
}

.header-logo {
    display: inline-block;
    margin: 30px 0;
}

.form-email {
    max-width: 470px;
    margin-top: 40px;
    flex-direction: column;
    
}

@media (min-width: 768px) {
    .title {
        font-family: 'Bebas Neue';
        font-size: 60px;
        color: #e5bc03;
        margin: 0;
    }

    .text {
        color: #ffffff;
        font-family: 'Asap';
        font-size: 18px;
        line-height: 1.67;
        margin: 0;
    }

    .title.-large {
        font-size: 70px;
        margin: 0;
    }

    .title.-large2 {
        font-size: 50px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .title {
        font-family: 'Bebas Neue';
        font-size: 50px;
        color: #e5bc03;
        margin: 0;
    }

    .text {
        color: #ffffff;
        font-family: 'Asap';
        font-size: 16px;
        line-height: 1.67;
    }

    .text.-rule {
        padding-top: 10px;
    }
}

@media (max-width: 450px) {
    .title {
        font-family: 'Bebas Neue';
        font-size: 35px;
        color: #e5bc03;
        margin: 0;
    }
}

.title.-blue {
    color: #201d55;
}

.title.-small {
    font-size: 37px;
}

.title.-medium {
    font-size: 50px;
}

.title.-little {
    font-size: 18px;
}

.title.-fancy {
    border-left: 15px solid #e5bc03;
    padding-left: 50px;
}

.text.-small {
    font-size: 14px;
    margin-top: 5px;
}

.text.-medium {
    font-size: 16px;
}


.text.-blue {
    color: #201d55;
}
.text.-grey {
    color: #646b6d;
}

.text.-large {
    font-size: 23px;
}

.text.-yellow {
    color: #e5bc03;
}

.text.-bold {
    font-weight: bold;
}

@media (min-width: 768px) {
    .field {
        display: flex;
        max-width: 470px;
    }

    .field.-space {
        padding: 40px 0 0 0;
    }

}

.field-input{
    font-family: 'Asap';
    color: #646b6d;
    font-size: 18px;
    border: 0;
    width: 100%;
    min-height: 60px;
    border-radius: 2px 0px 0px 2px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.field-input input {
    padding: 0 20px;
    display: block;
    width: 100%;
    min-height: inherit;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
}

.field-input input:focus + .field-label,
.field-input input.-value + .field-label {
    top: 0;
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;

}

.field-button {
    padding: 0 20px;
    border: 0;
    min-height: 60px;
    border-radius: 0 2px 2px 0;
    flex-shrink: 0;
}

.field-label {
    position: absolute;
    left: 20px;
    top: 35%;
    transition: all 0.2s ease;
}

.field-button.-fyellow {
    background-color: #e5bc03;
}

.field-email {
    font-family: Asap;
    font-size: 18px;
    color: #646b6d;
}

@media (max-width: 768px) {
    .field {
        display: flex;
        flex-direction: column;
        max-width: 470px;
    }

    .field-input{
        border: 0;
        min-height: 60px;
        border-radius: 2px 2px 0 0;
    }

    .field-button{
        padding: 0 20px;
        border: 0;
        min-height: 60px;
        border-radius: 0 0 2px 2px;
        flex-shrink: 0;
    }

    .field-button.-fyellow {
        background-color: #e5bc03;
    }
}

.pointer {
    cursor: pointer;
}

.field-button:hover {
    background-color: #CEA902;
}

.field-button.-fblue:hover {
    background-color: #181644;
}

.field.-space2 {
    padding: 20px 0 0 0;
}

.field-button.-fblue {
    background-color: #201d55;
}

@media (min-width: 1030px) {
    .macbook {
        background: url("img/iphone-macbook.png") no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 750px;
        top: 150px;
    }
}

@media (min-width: 768px) {
    .sub-header {
        padding-bottom: 190px;
        background-image: url("img/tecnofit-fundo.png");
        background-repeat: no-repeat;
        background-position: 30px 25px;
    }

}

@media (max-width: 1000px) {
    .sub-header {
        padding: 10px;
    }
    .funcionalidades {
        padding: 10px;
    }
    .container.-subheader {
        padding-top: 30px;
    }
    .text.-large {
        font-size: 16px;
    }
}

@media (min-width: 1000px) {
    .performance {
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        margin-bottom: 145px;
        align-items: flex-end;
        margin-left: auto;
        margin-right: auto;
    }

    .container.-subheader {
        display: flex;
        justify-content: space-between;
        padding-top: 140px;
        padding-right: 0;
    }

    .text.-rule {
        width: 600px;
    }

    .performance-title {
        width: 490px;
    }
    .performance-text {
        width: 250px;
    }

    .card-performance {
        display: flex;
        align-items: center;
    }

    .card-performance-content {
    }

    .card-performance-img {
        margin-right: 57px;
    }

    .funcionalidade-title {
        margin-bottom: 10px;
    }

    .grid-performance {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 190px;
    }

    .grid-performance-item {
        margin-bottom: 45px;
        width: calc(50% - 10px);
    }

    .tecnofit-box-color {
        background-color: #201d55;
    }

    .tecnofit-box-back {
        background-image: url("img/fundo-tecnofit-box.png");
        background-position: top;
        background-repeat: no-repeat;


    }

    .box-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 160px;
    }

    .box-header-content {
        width: 55%;

    }

    .box-header-logo {
        margin-top: 90px;
    }

    h3::before {
        content: "";
        width: 282px;
        height: 16px;
        background: currentColor;
        display: block;
        margin-bottom: 50px;
    }

    .grid-funcionalidades-box {
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 190px;
    }

    .grid-funcionalidades-item {
        width: calc(50% - 30px);
        position: relative;
    }

    .right {

    }
}

.cx {
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    align-items: center;
}



.media-icon {
    padding-right: 20px;
    font-size: 35px;
    color: #e5bc03;
}

.grid-funcionalidades-box {
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    list-style-type:none;
}

@media (max-width: 1024px) {
    .card-performance {
        display: flex;
        flex-direction: column;
        flex-direction: column;
        align-items: center;
    }
    .card-performance-img {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .title.-small {
        font-size: 35px;
    }
    .grid-performance-item {
        margin-bottom: 20px;
    }

    .tecnofit-box-color {
        background-color: #201d55;
        padding-bottom: 50px;
    }
    .box-header-logo {
        margin-bottom: 50px;
        text-align: center;
        padding-top: 50px;
    }
    .box-header-content {
        padding-bottom: 20px;
    }

    .grid-funcionalidades-box {
        margin-bottom: 60px;
    }
}

.text.cx {
    padding: 10px 0;
    position: relative;
}

@media (max-width: 600px) {
    .box-header-logo img {
        max-width:100%;
        width: auto;
        height: auto;
    }
}




/* Faixa Exclusiva */

.funcionalidade-exclusiva {
    position: absolute;
    bottom: -18px;
    left: 50px;
    background-color: #201d55;
    padding: 0 5px;
}

    @media (max-width: 600px) {
        .funcionalidade-exclusiva img {
            max-width: 200px;
        }
    }


/* Card Info */

.card-item {
    border: 2px solid #e5bc03;
    border-radius: 3px;
    margin-bottom: 40px;
    position: relative;
}

.card-item-box {
    padding: 15px 25px;
    position: relative;
}

.media-icon-card {
    color: #e5bc03;
    font-size: 20px;
    position: absolute;
    left: -10px;
    top: 20px;
    background-color: #201d55;
    padding: 5px 0;
}

@media (min-width: 600px) {
    .card-info {
        display: flex;
    }

    .card-item {
        width: 100%;
    }

    .card-item:first-child {
        margin-right: 30px;
    }

    .card-item:last-child {
        margin-left: 30px;
    }
}

/* Planos e Precos */

.planos-precos {
    background-color: #eeeef2;
}

.preco-box {
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.text.-subtitle {
    margin: 0;
}

    @media (max-width: 700px) {
        .precos {
            padding-bottom: 50px;
        }

        .preco-box {
            padding: 30px 40px;
        }

        .title-box {
            padding-bottom: 20px;
            padding-top: 250px;
        }

        .title.-space {
            padding-bottom: 20px;
        }
    }

    @media (min-width: 700px) {
        .precos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 75px;
        }

        .preco-box {
            padding: 50px 60px;
        }

        .title-box {
            padding-top: 250px;
            padding-bottom: 35px;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    @media (max-width: 1200px) {
        .preco-box {
            margin-bottom: 20px;
        }
    }


/* Pre-footer */

.prefooter-color {
    background-color: #e5bc03;
}

.prefooter-content {
    margin: 0 auto;
}

    @media (min-width: 600px) {
        .prefooter {
            background-image: url("img/fundo-news.png");
            background-repeat: no-repeat;
            padding-top: 100px;
            padding-bottom: 90px;

        }
    }

    @media (max-width: 600px) {
        .prefooter-color {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    @media (min-width: 1200px) {
        .prefooter-content {
            padding-left: 600px;
        }
    }

.prefooter-content {
    max-width: 605px;
}

.text.-space {
    padding-bottom: 20px;
}

/* Footer */

.footer {
    background-color: black;
}

.footer-content {
    padding: 20px 0;
}

    @media (min-width: 600px) {
        .footer-content {
            display: flex;
            justify-content: space-evenly;
            padding: 50px 0;
            align-items: center;
        }

        .social-network {
            justify-content: space-between;
            width: 120px;
        }
    }

.footer-logo {
    margin: 0;
}

.footer-logo img {
    width: 150px;
}

.social-network {
    color: #e5bc03;
    display: flex;
    font-size: 30px;
}

.cx-contato {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .social-network {
        padding-bottom: 15px;
        justify-content: space-evenly;
    }

    .contact {
        padding-bottom: 15px;
    }

    .cx-contato {
        justify-content: center;
    }

    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.media-icon-footer {
    padding-right: 20px;
    font-size: 20px;
    color: #e5bc03;
}

a {
    color: inherit;
    text-decoration:none;
}


/* Smartphone */

.smartphone {
    display: flex;
    position: relative;
    top: 150px;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100%;
    width:50px;
    background-color: black;
    border: none;
    height:50px;
    cursor: pointer;
}


.btn:hover {
    background-color: #323232;
}

@media (min-width: 530px) {
    .btn-right {
        margin-left: 40px;
    }

    .btn-left {
        margin-right: 40px;
    }

}

@media (max-width: 530px) {
    .btn {
        position: absolute;
    }

    .btn-right {
        right: 15px;
    }

    .btn-left {
        left: 15px;
    }

    .smartphone {
        top: 50px;
    }

    .smartphone img {
        width: 100%;
    }

    .title-box {
        padding-top: 70px;
    }

}


